{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel OSLO-Mobiliteit-MaaS brengt termen samen die relevant zijn in het kader van Mobolity as a Service (MaaS), ttz termen die beschrijven: 1) door reizigers uitgevoerde trips , 2) het aanbod van mobiliteitsdiensten, 3) licenties en het formeel kader. 
</p>
{% endblock %}

{% block status %}
<p>Deze specificatie is in ontwikkeling.</p>
{% endblock %}
