{% extends "ap2.j2" %}

{% block summary %}
<p> Het applicatieprofiel OSLO-Mobiliteit: Trips en Aanbod toont hoe termen uit het overeenstemmend <a href="https://otl-test.data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod">vocabularium</a> gebruikt moeten worden om gegevens uit te wisselen over 1) door personen uitgevoerde reizen en 2) de mobiliteitsdiensten die ze daarvoor ter beschikking hebben.
</p><p> Met deze gegevens kunnen mobiliteitsvraag en -aanbod beter op elkaar afgestemd worden, bv door aggregatie en analyse van trip- en aanboddata. Doel daarvan is het realiseren van een verhoogde basisbereikbaarheid door middel van intermodaal verevoer. 
</p>
{% endblock %}

{% block status %}
<p>Deze specificatie is in ontwikkeling.
</p>Enumeraties worden in principe buiten het applicatieprofiel beschreven, de in het diagram weergegeven enumeratiewaarden zijn dus illustratief.<p> 
</p>
{% endblock %}
