{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO-Mobility: Trips and Offers" defines terms that apply to (1) trips undertaken by individuals and (2) the mobility services available to them.</p>
<p>The trips are defined in terms of the route taken, the services/resources/infrastructure used, the operator, the tickets purchased, traveller preferences and characteristics.</p>
<p>The mobility services include concepts such as the resources to be reserved by the traveller, the infrastructure available to the service, information about the provider and operator, and the licences they hold.</p>
{% endblock %}
