{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium "OSLO-Mobiliteit: Trips en Aanbod" definieert termen die van toepassing zijn op (1) door personen uitgevoerde reizen en (2) de mobiliteitsdiensten die ze daarvoor ter beschikking hebben.</p>
<p>Van de reizen worden zaken gedefinieerd als de gevolgde route, de gebruikte diensten/resources/infrastructuur, de uitvoerder, de aangekochte tickets, reizigersvoorkeuren en -kenmerken.</p>
<p>Bij de mobiliteitsdiensten gaat het over begrippen als de door de reiziger te reserveren resources, de infrastructuur waarover de dienst beschikt, gegevens over de aanbieder en de uitvoerder, de licenties waarover deze beschikken.</p>
{% endblock %}

{% block status %}
<p>Dit document is een officiële specificatie van een vocabularium en beschrijft het gedeeld begrippenkader van concepten in een bepaald domein.</p>
<p>Dit document werd als Kandidaat-standaard gepubliceerd door de werkgroep semantiek en bevindt zich in een evaluatieperiode. Indien de evaluatie positief beoordeeld wordt door het stuurorgaan Vlaams Informatie- en ICT-beleid op basis van een aantal referentie implementaties en het behandelen van eventuele feedback wordt dit document gepromoot tot Standaard in het beschreven domein.</p>
<p>Feedback op deze specificatie kan gegeven worden via de mailing lijst of als een topic in onze publieke reviewdiscussielijst.</p>
{% endblock %}

