{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium "OSLO-Mobiliteit: Trips en Aanbod" definieert termen die van toepassing zijn op (1) door personen uitgevoerde reizen en (2) de mobiliteitsdiensten die ze daarvoor ter beschikking hebben.</p>
<p>Van de reizen worden zaken gedefinieerd als de gevolgde route, de gebruikte diensten/resources/infrastructuur, de uitvoerder, de aangekochte tickets, reizigersvoorkeuren en -kenmerken.</p>
<p>Bij de mobiliteitsdiensten gaat het over begrippen als de door de reiziger te reserveren resources, de infrastructuur waarover de dienst beschikt, gegevens over de aanbieder en de uitvoerder, de licenties waarover deze beschikken.</p>
{% endblock %}
