{% extends "ap2.j2" %}

{% block summary %}
<p> Het applicatieprofiel OSLO-Mobiliteit: Trips en Aanbod laat toe om 1) door personen uitgevoerde reizen te beschrijven en 2) het aanbod aan mobilitetisdiensten dat reizigers daartoe ter beschikking hebben.
</p><p> Van de reizen kunnen zaken beschreven worden als de gevolgde route, de gebruikte diensten/resources/infrastructuur, de uitvoerder, de aangekochte tickets, reizigersvoorkeuren en -kenmerken.
</p><p> De aanbodkant wordt beschreven op het niveau van de aangeboden mobiliteitsdiensten: de door de reiziger te reserveren resources, de infrastructuur waarover de dienst beschikt, gegevens over de aanbieder en de uitvoerder, de licenties waarover deze beschikken.
</p><p> Met de gegevens die dit applicatieprofiel beschrijft kunnen vraag en aanbod beter op elkaar afgestemd worden, bv door aggregatie en analyse van trip- en aanboddata. Doel is het realiseren van een verhoogde basisbereikbaarheid door middel van intermodaal verevoer. 
</p>
{% endblock %}

{% block status %}
<p>Deze specificatie is in ontwikkeling.</p>
{% endblock %}
