{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium "OSLO-Netwerk" definieert termen die van toepassing zijn op netwerken in het algemeen. Het beschrijft basiskenmerken van netwerken zoals de elementen waaruit het bestaat zoals knopen, linken, zones, connecties. De termen zijn bedoeld om gespecialiseerd te worden voor het beschrijven van netwerken met specifieke functies, bv transportnetwerken of hydragrafische netwerken. Dit vocabularium is gebaseerd op <a href="https://inspire.ec.europa.eu/documents/inspire-data-specifications-%E2%80%93-base-models-%E2%80%93-generic-network-model">Generic Network Model van INSPIRE</a>. </p>
{% endblock %}

{% block status %}
<p>Dit document werd als Kandidaat-standaard gepubliceerd door de werkgroep semantiek en bevindt zich in een evaluatieperiode. Indien de evaluatie positief beoordeeld wordt door het stuurorgaan Vlaams Informatie- en ICT-beleid op basis van een aantal referentie implementaties en het behandelen van eventuele feedback wordt dit document gepromoot tot Standaard in het beschreven domein.</p>
<p>Feedback op deze specificatie kan gegeven worden via de mailing lijst of als een topic in onze publieke reviewdiscussielijst.</p>
{% endblock %}
