{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO-Network" defines terms that apply to networks in general. It describes basis characteristics of a network like the elements it consists of e.g. nodes, links, zones, connections. The terms are intended to be specialised for the purpose of describing networks with specific functions, e.g. transport networks or hydrographic networks. This vocabulary is based on the <a href="https://inspire.ec.europa.eu/documents/inspire-data-specifications-%E2%80%93-base-models-%E2%80%93-generic-network-model">Generic Network Model</a> from INSPIRE.</p>
{% endblock %}
