{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium "OSLO-Netwerk" definieert termen die van toepassing zijn op netwerken in het algemeen. Het beschrijft basiskenmerken van een netwerk zoals de elementen waaruit het bestaat bv knopen, linken, zones, connecties. De termen zijn bedoeld om gespecialiseerd te worden voor het beschrijven van netwerken met specifieke functies, bv transportnetwerken of hydrografische netwerken. Dit vocabularium is gebaseerd op het <a href="https://inspire.ec.europa.eu/documents/inspire-data-specifications-%E2%80%93-base-models-%E2%80%93-generic-network-model">Generic Network Model</a> van INSPIRE.</p>
{% endblock %}
