{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium "OSLO-transportnetwerk" definieert termen die van toepassing zijn op transportnetwerken in het algemeen. Het beschrijft basiskenmerken van een transportnetwerk zoals de elementen waaruit het bestaat bv transportknopen, -linken, -zones, -connecties. De termen zijn bedoeld om gespecialiseerd te worden voor het beschrijven van transportnetwerken met specifieke functies, bv wegennetwerken of spoorwegnetwerken. Dit vocabularium is gebaseerd op de <a href="https://inspire.ec.europa.eu/Themes/115/2892">Data Specification on Transport Networks</a> van INSPIRE. Het bouwt verder op het <a href="https://data.vlaanderen.be/ns/netwerk">OSLO-Netwerk</a> vocabularium.</p>
{% endblock %}
