{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO transport network" defines terms applicable to transport networks in general. It describes basic features of a transport network such as its elements e.g. transport nodes, links, zones, connections. The terms are intended to be specialised for describing transport networks with specific functions, e.g. road networks or railway networks. This vocabulary is based on the <a href="https://inspire.ec.europa.eu/Themes/115/2892">Data Specification on Transport Networks</a> from INSPIRE. It builds on the <a href="https://data.vlaanderen.be/ns/netwerk">OSLO-Netwerk</a> vocabulary.</p>
{% endblock %}
